@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap');

:root{
    --red : #E3646E;
    --purple : #BB72E9;
    --blue : #3996DB;
    --green : #82BC4F;
    --yellow : #EABD5F;

    --gray-100 : #0D0E11;
    --gray-200 : #16181D;
    --gray-300 : #292C34;
    --gray-400 : #878EA1;
    --gray-500 : #C0C4CE;
    --gray-600 : #E2E4E9;

    --title-lg : 56px;
    --title-md : 24px;
    --title-sb : 16px;

    --subtitle : 20px;

    --text-md : 16px;
    --text-sm : 14px;

    --filter-gray-400 : brightness(0) saturate(100%) invert(60%) sepia(9%) saturate(594%) hue-rotate(186deg) brightness(92%) contrast(83%);

    --filter-red : brightness(0) saturate(100%) invert(45%) sepia(80%) saturate(492%) hue-rotate(307deg) brightness(97%) contrast(83%);
    --filter-purple : brightness(0) saturate(100%) invert(74%) sepia(35%) saturate(7498%) hue-rotate(228deg) brightness(93%) contrast(97%);
    --filter-blue : brightness(0) saturate(100%) invert(53%) sepia(60%) saturate(582%) hue-rotate(165deg) brightness(90%) contrast(91%);
    --filter-green : brightness(0) saturate(100%) invert(68%) sepia(36%) saturate(618%) hue-rotate(49deg) brightness(93%) contrast(86%);
    --filter-yellow : brightness(0) saturate(100%) invert(89%) sepia(47%) saturate(7155%) hue-rotate(314deg) brightness(102%) contrast(84%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Maven Pro", sans-serif;
}

h1{
    font-family: "Asap", sans-serif;
    font-size: var(--title-lg);
    font-weight: bold;
    line-height: 120%;
}

h2{
    font-family: "Inconsolata", monospace;
    font-size: var(--subtitle);
    font-weight: bold;
    line-height: 120%;
}

p{
    font-family: "Maven Pro", sans-serif;
    font-size: var(--text-md);
    font-weight: 400;
    line-height: 140%;
}