@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
    
}

@media (max-width: 768px) { 

    header{
        .container{
            .informacoes{
                .tecnologias{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .projetos{
        .container{
            .jobs{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .servicos{
        .container{
            .cards{
                grid-template-columns: 1fr;

                .card{
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 34px 20px;
                }
            }
        }
    }

    .container{
        padding: 0 1.5rem;
    }
    
}

@media (max-width: 576px) { 

    .projetos{
        .container{
            .jobs{
                grid-template-columns: 1fr;

                .job{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }

}